!!! 5
html(style='background-image: url(resources/images/background-normal.png); background-position: center center; background-repeat: no-repeat; height: 100%;')
  head
    meta(http-equiv='content=text/html; charset=UTF-8;')
    meta(http-equiv='X-UA-Compatible', content='IE=8,9,10')
    meta(name='X-Window-Id', content=windowId)
    title VisualizeRT

    - each script in scripts
      script(src=script.url)

  body(style='overflow: hidden; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; margin: 0px; padding: 0px;')
    #navigation(style='display: none; position: absolute; top: 0px; height: 25px; width: 100%; background-color: #D8D8D8; color: #000; -webkit-box-shadow: 0 4px 10px #999; moz-box-shadow: 0 4px 10px #999; box-shadow: 0 4px 10px #999; box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4),0 0 10px rgba(0, 0, 0, 0.1); background: #FAFAFA; background: -moz-linear-gradient(#FAFAFA,#EAEAEA); background: -webkit-linear-gradient(#FAFAFA,#EAEAEA); border-bottom: 1px solid #CACACA;')
      label(for='grouplist', style='margin-left: 25px;')
        select#grouplist(style='width: 250px;', onChange='javascript:viewController.showGroup(this.options[this.selectedIndex].value);')
    #progressbar(style='text-align: center; color: #D8D8D8; font-size: 8pt; position: absolute; z-index: -1; top: 60%; left: 45%; width: 10%; display: none;', value=0)