doctype html
html(class="background")
  head
    meta(http-equiv='content=text/html; charset=UTF-8;')
    - each stylesheet in stylesheets
      link(rel='stylesheet', media='screen', href=stylesheet)
    title VRT
    script(data-main='js/boot', src='/node_modules/requirejs/require.js')
  body
    div.backdrop
      div.messages
