doctype html
html(class="background")
  head
    meta(http-equiv='content=text/html; charset=UTF-8;')
    link(rel='stylesheet', media='screen', href='bootstrap.css')
    link(rel='stylesheet', media='screen', href='vrt.css')
    title VRT
    script(data-main='js/boot', src='/r/require.js')
  body
    div.backdrop
      div.messages
