<!doctype html>
<html>
    <head>
        <meta http-equiv="content=text/html; charset=UTF-8;">
        <link rel="stylesheet", media="screen", href="/public/resources/css/bootstrap.css">
        <link rel="stylesheet", media="screen", href="/public/resources/css/vrt.css">
        <title>VRT</title>
        <script src="/node_modules/requirejs/require.js"></script>
        <script src="/js/boot.js"></script>
    </head>
    <body>
        <div class="backdrop">
            <div class="messages"></div>
        </div>
    </body>
</html>